@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}
body{
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: white;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.name{
    font-size: 1.3rem;
}
.spoti{
    width: 2.4rem;
}
.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 73vw;
    margin-top: 10px;
    height: 97vh;
}
.invert{
    filter: invert(1);
}
.bg-color{
    color: white;
    background-color: black;
}
.bg-gray{
    background-color: #181818;
}
.container{
    display: flex;
}
.homeBox{
    padding: 15px;
}
.homeBox ul li{
    width: 15px;
    list-style: none;
    display: flex;
    gap: 15px;
    padding-top: 20px;
}
.rounded{
    border-radius: 8px;
}
.rounded-m{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.libraryBox{
    margin-top: 10px;
    padding: 20px;
    min-height: 65vh;
    max-height: 65vh;
    overflow: scroll;
}
.heading{
    color: rgba(255, 255, 255, 0.651);
}
.min-con{
display: flex;
gap: 12px;
align-items: center;
}
.lib{
    width: 20px;
}
.footer{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    font-size: 9px;
    gap: 13px;
    margin-left: 0px;
    align-items: center;
    padding: 10px 10px;
    flex-wrap: wrap;
}
.songList ul{
    padding: 12px ;
}
.songList ul li{
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 10px 0px;
    border: 1px solid rgb(55, 53, 53);
    margin: 5px 0px;
    padding: 13px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.songList ul li:hover{
    background-color: #2a2a2a;
}

.songList{
    height: 544px;
    overflow: scroll;
    margin: 15px;
}
.scroll-box {
  height: 544px;
  overflow-y: scroll;
}

/* Chrome, Edge, Safari */
.scroll-box::-webkit-scrollbar {
  width: 6px;
}

.scroll-box::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-box::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 10px;
}

.scroll-box::-webkit-scrollbar-thumb:hover {
  background-color: #3d3d3d;
}

/* Firefox */
.scroll-box {
  scrollbar-width: thin;
  scrollbar-color: #2a2a2a transparent;
}
.info{
    width: 344px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: scroll;
}
.size{
    font-size: 0.7rem;
    font-weight: 200;
}
.playNow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playNow span{
    font-size: 13px;
    width: 64px;
    padding: 12px;
}
.footer-ele{
    color: rgba(255, 255, 255, 0.651);
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(40, 38, 38);
}
.arrow{
    cursor: pointer;
    width: 25px;
    margin-left: 10px;
}
.sportifyPlaylist{
    padding: 16px;
}
.card{
    width: 170px;
    padding: 5px 15px;
    padding-bottom: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.644); */
    border-radius: 5px;
    background-color: #202020;
    position: relative;

}
.cover{
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}
.cardCantainer{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 70vh;
    max-height: 70vh;
    overflow: scroll;
    
    /* justify-content: space-around; */
    
}
.card *{
    padding-top: 10px;
}
.hits{
    font-weight: 100;
    font-size: smaller;
    color: rgb(209, 201, 201);
}
.playButton{
display: flex;
width: 25px;
height: 17px;
position: relative;
bottom: 9px;
}
.play{
    position: absolute;
    background: #19af4e;
    width: 40px;
    height: 30px; 
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 150px;
    right: 25px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.card:hover{
    cursor: pointer;
    background-color: #292929;
    .play{
        opacity: 1;
        top: 135px;
    }
}
.sign{
    background-color: rgb(40, 38, 38);
    border: none;
    color:rgb(178, 184, 189);
    padding: 0px 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
.sign:hover{
    color: aliceblue;
}
.log{
    border: none;
    color: #181818;
    background: #19af4e;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}
.log:hover{
    transform: scale(1.07);
}
.playbar{
    width: 100%;
    background-color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.margain{
    margin-right: 40px;
    cursor: pointer;
}
.seekBar{
    height: 2px;
    width: 50%;
    margin-bottom: 2px;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.731);
    cursor: pointer;
    position: relative;
    right: 15px;
}
.songbuttons{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.circle{
    height: 12px;
    width: 12px;
    border-radius: 15px;
    background-color: aliceblue;
    position: relative;
    left: 0%;
    transition: left 1s;
}
.song-box{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.songInfo{
    width: 220px;
    height: 17px;
    overflow: scroll; 
    font-size: smaller;
    font-weight: 300;
    margin-right: 20px;
}
.timebox{
    display: flex;
}
#range{
    position: absolute;
    right: 35px;
}
.time{
    width: 220px;
    font-size: smaller;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 75px); 
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 55vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center; 
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .playbar{
        right: 25px;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }

    .library{
        height: 85vh;
    }

    .left{ 
        width: 100vw;
    }

 

    
}